<ion-pane id="homepage" style="background-color: floralwhite;" ng-cloak="" ng-show="$root.viewEntered">
  <ng-audio-recorder id="mainAudio" audio-model="recorded" vm="vm" show-player="false" time-limit="time-limit">

    <div class="main-text animated" ng-hide="$root.isRecording" ng-class="{'fadeOutDown': $root.isRecording, 'fadeInUp': !$root.isRecording}">
      <p class="text-hoot">Give a Hoot{{$root.isAvailable}}</p>
      <p class="text-hoot">Take a Hoot</p>
    </div>

    <ion-content overflow-scroll="false" has-bouncing="true" class="padding" on-swipe-down="$root.goto('homepage', recorder)" on-tap="recorder.stopRecord()"
                 on-swipe-left="$root.goto('listenHoot',recorder)" style="z-index: 99999; padding: 0;">

      <audio id="audio-tag" class="player" controls autoplay="true"
             ng-src="{{'/sounds/loggedIn.mp3' | trusted}}">
      </audio>
      <!--<div on-tap="vm.test1(leftSwipe)">-->
      <div class="container" on-tap="recorder.save('upload')"
           on-swipe-up="vm.startRecord(recorder);" ng-disabled="$root.isRecording">



        <div ng-show="!$root.isRecording">
        <img class="img-owl animated" ng-class="{'fadeOut': $root.isRecording, 'fadeIn': !$root.isRecording, 'zoomOutAnimate': $root.PageChange, 'zoomInAnimate': !$root.PageChange}"  ng-src="images/postHoot.png" />
        </div>
        <div ng-show="$root.isRecording">
          <img class="img-owl animated" ng-class="{'fadeIn': $root.isRecording, 'fadeOut': !$root.isRecording}" ng-src="images/postHootfly.png" />
        </div>
        <div class="home-content">
          <!--<img ng-src={{vm.model.hootimage}} class="centered"/>-->

          <div ng-if="recorder.isAvailable">

            <div ng-if="recorder.status.isDenied === true" style="color: red;">
              You need to grant permission for this application to USE your microphone.
            </div>

          </div>
        </div>

      </div>
    </ion-content>
    <img ng-hide="$root.isRecording" class="img-mic animated" ng-class="{'fadeOutDown': $root.isRecording, 'fadeInUp': !$root.isRecording}" ng-src="images/mic-arrow-gif.gif" alt="">
    <img ng-show="$root.showSuccess"  ng-class="{'fadeIn': $root.showSuccess, 'fadeOut': !$root.showSuccess}" class="img-success animated" ng-src="images/success.png" alt="">
    <img class="img-center animated" ng-class="{'fadeOutUp': $root.isRecording, 'fadeInDown': !$root.isRecording}" ng-src="images/nightsky.jpg"/>
    <img class="img-recorded" ng-if="recorder.status.isPlaying" ng-src="images/listen.gif" alt="">
    <img class="img-sun animated" ng-class="{'fadeOutDown': $root.isRecording, 'fadeInUp': !$root.isRecording}" ng-src="images/moon.png"/>
    <img class="img-tree parallax-animated" ng-class="{'fadeOutDown': $root.isRecording  || $root.PageChange, 'fadeInUp': !$root.isRecording }" ng-src="images/tree.png"/>
    <img class="img-center-motion" ng-src="images/nightmotion.gif"/>
    <img ng-hide="!$root.isAvailable" class="img-upload animated" ng-class="{'fadeOut': !$root.isAvailable || $root.isRecording || $root.showSuccess, 'fadeIn': $root.isAvailable}" ng-src="images/ripple.svg" alt="">

  </ng-audio-recorder>
</ion-pane>
