#homepage{

  .left-motion-trees{
    -webkit-transform: translateX(-135em);
    -moz-transform:    translateX(-135em);
    -ms-transform:     translateX(-135em);
    -o-transform:      translateX(-135em);
    transform:         translateX(-135em);
    -webkit-transition:  0.5s linear;
    -moz-transition:  0.5s linear;
    -o-transition:  0.5s linear;
    transition:  0.5s linear;
  }

  .left-motion-trees1{
    -webkit-transform: translateX(-135em);
    -moz-transform:    translateX(-135em);
    -ms-transform:     translateX(-135em);
    -o-transform:      translateX(-135em);
    transform:         translateX(-135em);
    -webkit-transition:  1.4s linear;
    -moz-transition:  1.4s linear;
    -o-transition:  1.4s linear;
    transition:  1.4s linear;
  }

  .left-motion-branch1{
    -webkit-transform: translateX(-30em);
    -moz-transform:    translateX(-30em);
    -ms-transform:     translateX(-30em);
    -o-transform:      translateX(-30em);
    transform:         translateX(-30em);
    -webkit-transition:  .3s ease-out;
    -moz-transition:  .3s ease-out;
    -o-transition:  .3s ease-out;
    transition:  .3s ease-out;
    -webkit-transition-delay:  0.8s;
    -moz-transition-delay:  0.8s;
    -o-transition-delay:  0.8s;
    transition-delay:  0.8s;

  }

  background-color: #0f141a !important;

  body {
    padding: 5em;
    text-align: center;
  }

  h1 {
    margin-bottom: 1em;
  }

  /*.circle-loader {

    animation-name: none;
    animation-duration: 4s;
    animation-timing-function: linear;

  }*/

  .circle-loader{
    margin: 0 0 30px 10px;
    border: 5px solid rgba(0, 0, 0, 0.9);
    border-color: #5cb85c;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 8em;
    height: 8em;
    margin: auto;
    //-webkit-animation: transition 6s linear forwards;
    //animation: transition 3s linear forwards;
  }

  .load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: #5cb85c;
    transition: border 500ms ease-out;
  }


  .checkmark.draw:after {
    animation-duration: 3.2s;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }
  .checkmark:after {
    opacity: 1;
    height: 1.5em;
    width: 0.7em;
    transform-origin: left top;
    border-right: 4px solid #ffffff;
    border-top: 4px solid #ffffff;
    content: '';
    left: 12.9em;
    top: 23.3em;
    z-index: 100001;
    position: absolute;
  }

  @keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 0.7em;
      opacity: 1;
    }
    40% {
      height: 1.5em;
      width: 0.7em;
      opacity: 1;
    }
    100% {
      height: 1.5em;
      width: 0.7em;
      opacity: 1;
    }
  }



  .img-center{
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .img-center-motion{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  .img-owl{
    width: 100%;
    height: auto;
    position: absolute;
    top: 25%;
    z-index: 1001;
  }


  .img-mic{
    width: 70px;
    height: 7em;
    position: absolute;
    top: 78%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    right: 0;
    left: 0;
    z-index: 1001;
  }

  .img-sun{
    top: 20%;
    left: auto;
    width: 127%;
    right: -13%;
    height: auto;
    z-index: 999;
    position: absolute;
  }

  .img-tree{
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: -4px;
    position: absolute;
  }

  .img-tree-hidden{
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: 100%;
    position: absolute;
  }

  .img-success{
    width: 100%;
    height: auto;
    margin: auto;
    z-index: 100000;
    top: 25%;
    position: absolute;
  }

  .img-recorded{
    width: 100%;
    height: 99%;
    z-index: 1000;
    left: -4px;
    opacity: 0.1 !important;
    position: absolute;
  }

  .img-upload{
    height: 7em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    position: absolute;
    top: 67%;
    opacity: 0.9;
    z-index: 1001;
  }

  .img-trees{
    height: 100%;
    left: 35em;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    position: absolute;
    z-index: 1078;
  }
  .img-trees1{
    height: 100%;
    left: 30em;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    position: absolute;
    z-index: 1078;
  }

  .img-egg{
    width: 100%;
    left: 30em;
    height: auto;
    padding: 6em 9em;
    z-index: 999;
    bottom: 0;
    position: absolute;
  }

  .img-nest-back{
    width: 100%;
    bottom: 1em;
    left: 30em;
    margin-left: auto;
    padding: 4em 7em 4.4em 7em;
    margin-right: auto;
    z-index: 999;
    position: absolute;
  }

  .img-nest-front{
    width: 100%;
    bottom: 1em;
    left: 30em;
    margin-left: auto;
    padding: 4em 7em 4.4em 7em;
    margin-right: auto;
    z-index: 1000;
    position: absolute;
  }

  .img-branch{
    width: 100%;
    left: 30em;
    height: auto;
    z-index: 998;
    bottom: 0;
    position: absolute;
  }

}
@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}
.homeOwl {
  width: 100%;
  height: 50%;
  z-index: 9999;
  position: absolute;
  top: 25%;
}

.homeBackground{
  width: 100%;
  height: 100%;
}
