#listen-hoot {

  background-color: #0f141a !important;

  .zoomedOutMoon{
    -webkit-transform: scale(0.6);
    -moz-transform:    scale(0.6);
    -ms-transform:     scale(0.6);
    -o-transform:      scale(0.6);
    transform:         scale(0.6);
  }
  .zoomedOutOwl{
    -webkit-transform: scale(0.3);
    -moz-transform:    scale(0.3);
    -ms-transform:     scale(0.3);
    -o-transform:      scale(0.3);
    transform:         scale(0.3);
  }
  .zoomedOutSky{
    -webkit-transform: scale(1.1);
    -moz-transform:    scale(1.1);
    -ms-transform:     scale(1.1);
    -o-transform:      scale(1.1);
    transform:         scale(1.1);
  }


  .img-center{
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .img-center-motion{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  .img-owl{
    width: 100%;
    height: auto;
    position: absolute;
    top: 25%;
    z-index: 1001;
  }

  .img-sun{
    top: 20%;
    left: auto;
    width: 127%;
    right: -13%;
    height: auto;
    z-index: 999;
    position: absolute;
  }

  .img-tree{
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: -4px;
    position: absolute;
  }

  .img-tree-hidden{
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: 100%;
    position: absolute;
  }

  .img-success{
    width: 100%;
    height: auto;
    margin: auto;
    z-index: 100000;
    top: 25%;
    position: absolute;
  }

  .img-recorded{
    width: 100%;
    height: 99%;
    z-index: 1000;
    left: -4px;
    opacity: 0.1 !important;
    position: absolute;
  }

  .img-mic{
    width: 70px;
    height: 7em;
    position: absolute;
    top: 78%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    right: 0;
    left: 0;
    z-index: 1001;
  }

  .img-upload{
    height: 7em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    position: absolute;
    top: 67%;
    opacity: 0.9;
    z-index: 1001;
  }

}

.hoot {
  background-color: red;
  height: 85vh;
  width: 100%;
  display: flex;
}

