/* line 2, ../../partials/login.scss */
#login .img-zzz {
  width: 100%;
  height: 50%;
  top: 23%;
  position: absolute;
  z-index: 8888;
}
/* line 10, ../../partials/login.scss */
#login .img-center {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 16, ../../partials/login.scss */
#login .img-center-motion {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
/* line 23, ../../partials/login.scss */
#login .img-owl {
  width: 100%;
  height: auto;
  position: absolute;
  top: 25%;
  z-index: 1001;
}
/* line 31, ../../partials/login.scss */
#login .img-sun {
  top: 20%;
  left: auto;
  width: 127%;
  right: -13%;
  height: auto;
  z-index: 999;
  position: absolute;
}
/* line 41, ../../partials/login.scss */
#login .img-tree {
  width: 100%;
  height: 100%;
  z-index: 1000;
  left: -4px;
  position: absolute;
}
/* line 49, ../../partials/login.scss */
#login .img-tree-hidden {
  width: 100%;
  height: 100%;
  z-index: 1000;
  left: 100%;
  position: absolute;
}
/* line 57, ../../partials/login.scss */
#login .img-success {
  width: 100%;
  height: auto;
  margin: auto;
  z-index: 100000;
  top: 25%;
  position: absolute;
}
/* line 66, ../../partials/login.scss */
#login .img-recorded {
  width: 100%;
  height: 99%;
  z-index: 1000;
  left: -4px;
  opacity: 0.1 !important;
  position: absolute;
}

/* line 76, ../../partials/login.scss */
.tap-text {
  text-align: center;
  margin-bottom: 10px !important;
  z-index: 111111;
  display: inline-block;
  padding-top: 12px;
  position: absolute;
  bottom: 10%;
  font-size: 25px;
  letter-spacing: 1px;
  height: 7%;
  width: 100%;
  color: white;
  opacity: 1;
  text-transform: capitalize;
  font-family: des_passion;
  box-shadow: 0px 1px 13px -1px #3a3a3a;
  background: rgba(0, 0, 0, 0.4);
}
