@font-face {
  font-family: des_passion;
  src: url(../../fonts/PassionTea.ttf); }
.container {
  height: 100%; }

.hoot {
  height: 85vh;
  width: 100%;
  display: flex; }

.right {
  width: 50%;
  height: 100%; }

.right.activated {
  background: linear-gradient(to left, rgba(204, 204, 204, 0.2), rgba(153, 153, 153, 0)); }

.left {
  width: 50%;
  height: 100%; }

.left.activated {
  background: linear-gradient(to right, rgba(204, 204, 204, 0.2), rgba(153, 153, 153, 0)); }

.recorder {
  text-align: center;
  margin-top: 5%; }

.owl-open {
  width: 60%;
  height: 40%; }

.icon {
  font-size: 34px; }

p {
  text-align: center;
  margin-bottom: 10px !important; }

.spinner svg {
  width: 100% !important;
  height: 100% !important;
  margin-top: 15%;
  margin-left: 12%; }

.home-content {
  height: 100.5vh;
  width: 100%;
  display: flex; }

.player {
  display: none; }

.main-text {
  width: 100%;
  top: 5em;
  position: absolute;
  z-index: 9999;
  font-family: des_passion; }

.text-hoot {
  font-size: 30px;
  color: white;
  letter-spacing: 1px;
  opacity: 0.9; }

#login {
  background-color: #0f141a !important; }
  #login .img-zzz {
    width: 100%;
    height: 50%;
    top: 23%;
    position: absolute;
    z-index: 8888; }
  #login .img-center {
    width: 100%;
    height: 100%;
    position: absolute; }
  #login .img-center-motion {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1; }
  #login .img-owl {
    width: 100%;
    height: auto;
    position: absolute;
    top: 25%;
    z-index: 1001; }
  #login .img-sun {
    top: 20%;
    left: auto;
    width: 127%;
    right: -13%;
    height: auto;
    z-index: 999;
    position: absolute; }
  #login .img-tree {
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: -4px;
    position: absolute; }
  #login .img-tree-hidden {
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: 100%;
    position: absolute; }
  #login .img-success {
    width: 100%;
    height: auto;
    margin: auto;
    z-index: 100000;
    top: 25%;
    position: absolute; }
  #login .img-recorded {
    width: 100%;
    height: 99%;
    z-index: 1000;
    left: -4px;
    opacity: 0.1 !important;
    position: absolute; }

.tap-text {
  text-align: center;
  margin-bottom: 10px !important;
  z-index: 111111;
  display: inline-block;
  padding-top: 12px;
  position: absolute;
  bottom: 10%;
  font-size: 25px;
  letter-spacing: 1px;
  height: 7%;
  width: 100%;
  color: white;
  opacity: 1;
  text-transform: capitalize;
  font-family: des_passion;
  box-shadow: 0px 1px 13px -1px #3a3a3a;
  background: rgba(0, 0, 0, 0.4); }

.parallax-animated {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animate-fast {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.zoomOutAnimate {
  -webkit-animation-name: zoomOutAnimate;
  animation-name: zoomOutAnimate; }

.zoomInAnimate {
  -webkit-animation-name: zoomInAnimate;
  animation-name: zoomInAnimate; }

.zoomOutMoonAnimate {
  -webkit-animation-name: zoomOutMoonAnimate;
  animation-name: zoomOutMoonAnimate; }

.zoomInMoonAnimate {
  -webkit-animation-name: zoomInMoonAnimate;
  animation-name: zoomInMoonAnimate; }

.zoomInSkyAnimate {
  -webkit-animation-name: zoomInSkyAnimate;
  animation-name: zoomInSkyAnimate; }

.zoomOutSkyAnimate {
  -webkit-animation-name: zoomOutSkyAnimate;
  animation-name: zoomOutSkyAnimate; }

@-webkit-keyframes zoomOutAnimate {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3); } }
@keyframes zoomOutAnimate {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3); } }
@-webkit-keyframes zoomOutMoonAnimate {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6); } }
@keyframes zoomOutMoonAnimate {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6); } }
@-webkit-keyframes zoomInSkyAnimate {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); } }
@keyframes zoomInSkyAnimate {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); } }
@-webkit-keyframes zoomInAnimate {
  0% {
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes zoomInAnimate {
  0% {
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes zoomInMoonAnimate {
  0% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes zoomInMoonAnimate {
  0% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes zoomOutSkyAnimate {
  0% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes zoomOutSkyAnimate {
  0% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
#homepage {
  background-color: #0f141a !important;
  /*.circle-loader {

    animation-name: none;
    animation-duration: 4s;
    animation-timing-function: linear;

  }*/ }
  #homepage body {
    padding: 5em;
    text-align: center; }
  #homepage h1 {
    margin-bottom: 1em; }
  #homepage .circle-loader {
    margin: 0 0 30px 10px;
    border: 5px solid rgba(0, 0, 0, 0.9);
    border-color: #5cb85c;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 8em;
    height: 8em;
    margin: auto; }
  #homepage .load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: #5cb85c;
    transition: border 500ms ease-out; }
  #homepage .checkmark.draw:after {
    animation-duration: 3.2s;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg); }
  #homepage .checkmark:after {
    opacity: 1;
    height: 1.5em;
    width: 0.7em;
    transform-origin: left top;
    border-right: 4px solid #ffffff;
    border-top: 4px solid #ffffff;
    content: '';
    left: 12.9em;
    top: 23.3em;
    z-index: 100001;
    position: absolute; }
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1; }
  20% {
    height: 0;
    width: 0.7em;
    opacity: 1; }
  40% {
    height: 1.5em;
    width: 0.7em;
    opacity: 1; }
  100% {
    height: 1.5em;
    width: 0.7em;
    opacity: 1; } }
  #homepage .img-center {
    width: 100%;
    height: 100%;
    position: absolute; }
  #homepage .img-center-motion {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1; }
  #homepage .img-owl {
    width: 100%;
    height: auto;
    position: absolute;
    top: 25%;
    z-index: 1001; }
  #homepage .img-mic {
    width: 70px;
    height: 7em;
    position: absolute;
    top: 78%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    right: 0;
    left: 0;
    z-index: 1001; }
  #homepage .img-sun {
    top: 20%;
    left: auto;
    width: 127%;
    right: -13%;
    height: auto;
    z-index: 999;
    position: absolute; }
  #homepage .img-tree {
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: -4px;
    position: absolute; }
  #homepage .img-tree-hidden {
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: 100%;
    position: absolute; }
  #homepage .img-success {
    width: 100%;
    height: auto;
    margin: auto;
    z-index: 100000;
    top: 25%;
    position: absolute; }
  #homepage .img-recorded {
    width: 100%;
    height: 99%;
    z-index: 1000;
    left: -4px;
    opacity: 0.1 !important;
    position: absolute; }
  #homepage .img-upload {
    height: 7em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    position: absolute;
    top: 67%;
    opacity: 0.9;
    z-index: 1001; }

@-webkit-keyframes fadeinout {
  0%,100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
@keyframes fadeinout {
  0%,100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
.homeOwl {
  width: 100%;
  height: 50%;
  z-index: 9999;
  position: absolute;
  top: 25%; }

.homeBackground {
  width: 100%;
  height: 100%; }

#listen-hoot {
  background-color: #0f141a !important; }
  #listen-hoot .zoomedOutMoon {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6); }
  #listen-hoot .zoomedOutOwl {
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3); }
  #listen-hoot .zoomedOutSky {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  #listen-hoot .img-center {
    width: 100%;
    height: 100%;
    position: absolute; }
  #listen-hoot .img-center-motion {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1; }
  #listen-hoot .img-owl {
    width: 100%;
    height: auto;
    position: absolute;
    top: 25%;
    z-index: 1001; }
  #listen-hoot .img-sun {
    top: 20%;
    left: auto;
    width: 127%;
    right: -13%;
    height: auto;
    z-index: 999;
    position: absolute; }
  #listen-hoot .img-tree {
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: -4px;
    position: absolute; }
  #listen-hoot .img-tree-hidden {
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: 100%;
    position: absolute; }
  #listen-hoot .img-success {
    width: 100%;
    height: auto;
    margin: auto;
    z-index: 100000;
    top: 25%;
    position: absolute; }
  #listen-hoot .img-recorded {
    width: 100%;
    height: 99%;
    z-index: 1000;
    left: -4px;
    opacity: 0.1 !important;
    position: absolute; }
  #listen-hoot .img-mic {
    width: 70px;
    height: 7em;
    position: absolute;
    top: 78%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    right: 0;
    left: 0;
    z-index: 1001; }
  #listen-hoot .img-upload {
    height: 7em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    position: absolute;
    top: 67%;
    opacity: 0.9;
    z-index: 1001; }

.hoot {
  background-color: red;
  height: 85vh;
  width: 100%;
  display: flex; }

/*# sourceMappingURL=main.css.map */
