.container {
  height: 100%; }

.hoot {
  height: 85vh;
  width: 100%;
  display: flex; }

.right {
  width: 50%;
  height: 100%; }

.right.activated {
  background: linear-gradient(to left, rgba(204, 204, 204, 0.2), rgba(153, 153, 153, 0)); }

.left {
  width: 50%;
  height: 100%; }

.left.activated {
  background: linear-gradient(to right, rgba(204, 204, 204, 0.2), rgba(153, 153, 153, 0)); }

.recorder {
  text-align: center;
  margin-top: 5%; }

.owl-open {
  width: 60%;
  height: 40%; }

.icon {
  font-size: 34px; }

p {
  text-align: center;
  margin-bottom: 10px !important; }

.spinner svg {
  width: 100% !important;
  height: 100% !important;
  margin-top: 15%;
  margin-left: 12%; }

.home-content {
  height: 100.5vh;
  width: 100%;
  display: flex; }

.player {
  display: none; }

.img-center {
  width: 100%;
  height: 100%;
  position: absolute; }

.img-owl {
  width: 100%;
  height: auto;
  position: absolute;
  top: 25%;
  z-index: 1001; }

.img-sun {
  top: 20%;
  left: auto;
  width: 127%;
  right: -13%;
  height: auto;
  z-index: 999;
  position: absolute; }

.img-tree {
  width: 100%;
  height: 100%;
  z-index: 1000;
  left: -4px;
  position: absolute; }

.tap-text {
  text-align: center;
  margin-bottom: 10px !important;
  z-index: 111111;
  display: block;
  position: absolute;
  bottom: 10%;
  width: 100%;
  font-size: 16px;
  color: white;
  opacity: 1;
  text-transform: capitalize;
  font-family: "Comic Sans MS"; }

.parallax-animated {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

#homepage {
  /*.circle-loader {

    animation-name: none;
    animation-duration: 4s;
    animation-timing-function: linear;

  }*/ }
  #homepage body {
    padding: 5em;
    text-align: center; }
  #homepage h1 {
    margin-bottom: 1em; }
  #homepage .circle-loader {
    margin: 0 0 30px 10px;
    border: 5px solid rgba(0, 0, 0, 0.9);
    border-color: #5cb85c;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 8em;
    height: 8em;
    margin: auto; }
  #homepage .load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: #5cb85c;
    transition: border 500ms ease-out; }
  #homepage .checkmark.draw:after {
    animation-duration: 3.2s;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg); }
  #homepage .checkmark:after {
    opacity: 1;
    height: 4em;
    width: 2em;
    transform-origin: left top;
    border-right: 5px solid #5cb85c;
    border-top: 5px solid #5cb85c;
    content: '';
    left: 2em;
    top: 4em;
    position: absolute; }
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1; }
  20% {
    height: 0;
    width: 2em;
    opacity: 1; }
  40% {
    height: 4em;
    width: 2em;
    opacity: 1; }
  100% {
    height: 4em;
    width: 2em;
    opacity: 1; } }
@-webkit-keyframes fadeinout {
  0%,100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
@keyframes fadeinout {
  0%,100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
.homeOwl {
  width: 100%;
  height: 50%;
  z-index: 9999;
  position: absolute;
  top: 25%; }

.homeBackground {
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=main.css.map */
